script(src="http://code.jquery.com/jquery-1.10.2.min.js") 
script(src='/js/jquery.tagsinput.min.js')
//- script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/popper.js/popper.min.js')
script(src='/vendor/bootstrap/js/bootstrap.min.js')
//- script(src='/vendor/chart.js/chart.min.js')
script(src='/js/carbon.js')
script(src='/js/demo.js')
div
	| favicon.ico made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>		