include head.pug
body
	.page-wrapper.flex-row.align-items-center
		.container
			.row.justify-content-center
				.col-md-5
					form.card.p-4(action="/admin/register" method="POST")
						.card-header.text-center.text-uppercase.h4.font-weight-light
							| Register
						.card-body.py-5
							.form-group
								label.form-control-label Name
								input.form-control(type='name' name='username')
							.form-group
								label.form-control-label Email
								input.form-control(type='email' name='email')
							.form-group
								label.form-control-label Password
								input.form-control(type='password' name='password')
							.form-group
								label.form-control-label Confirm Password
								input.form-control(type='password')
						.card-footer
							button.btn.btn-success.btn-block(type='submit') Create Account
	include foot.pug