.sidebar
	nav.sidebar-nav
		ul.nav
			li.nav-title Navigation
			li.nav-item
				a.nav-link.active(href='/admin')
					i.icon.icon-speedometer
					|  Dashboard
			//- li.nav-item.nav-dropdown
				a.nav-link.nav-dropdown-toggle(href='#')
					i.icon.icon-target
					|  Create 
					i.fa.fa-caret-left
				ul.nav-dropdown-items
					li.nav-item
						a.nav-link(href='layouts-normal.html')
							i.icon.icon-target
							|  Normal
					li.nav-item
						a.nav-link(href='layouts-fixed-sidebar.html')
							i.icon.icon-target
							|  Fixed Sidebar
					li.nav-item
						a.nav-link(href='layouts-fixed-header.html')
							i.icon.icon-target
							|  Fixed Header
					li.nav-item
						a.nav-link(href='layouts-hidden-sidebar.html')
							i.icon.icon-target
							|  Hidden Sidebar
			li.nav-item.nav-dropdown
				a.nav-link.nav-dropdown-toggle(href='#')
					i.icon.icon-energy
					|  Posts
					i.fa.fa-caret-left
				ul.nav-dropdown-items
					li.nav-item
						a.nav-link(href='/admin/article')
							| All Post
					li.nav-item
						a.nav-link(href='/admin/article/new')
							| Add New
					li.nav-item
						a.nav-link(href='/admin/article/categories')
							|  Categories
					li.nav-item
						a.nav-link(href='/admin/article/tags')
							|  Tags
					//- li.nav-item
					//- 	a.nav-link(href='progress-bars.html')
					//- 		i.icon.icon-energy
					//- 		|  Progress Bars
					//- li.nav-item
					//- 	a.nav-link(href='widgets.html')
					//- 		i.icon.icon-energy
					//- 		|  Widgets
			//- li.nav-item.nav-dropdown
				a.nav-link.nav-dropdown-toggle(href='#')
					i.icon.icon-graph
					|  Charts 
					i.fa.fa-caret-left
				ul.nav-dropdown-items
					li.nav-item
						a.nav-link(href='chartjs.html')
							i.icon.icon-graph
							|  Chart.js
			li.nav-item
				a.nav-link(href='forms.html')
					i.fa.fa-comments
					|  Comments
			li.nav-item
				a.nav-link(href='/admin/settings')
					i.icon.icon-grid
					|  Settings
			//- li.nav-title More
			li.nav-item.nav-dropdown
				a.nav-link.nav-dropdown-toggle(href='#')
					i.icon.icon-umbrella
					|  Pages 
					i.fa.fa-caret-left
				ul.nav-dropdown-items
					li.nav-item
						a.nav-link(href='blank.html')
							|  All Pages
					li.nav-item
						a.nav-link(href='login.html')
							|  Add New
					//- li.nav-item
					//- 	a.nav-link(href='register.html')
					//- 		i.icon.icon-umbrella
					//- 		|  Register
					//- li.nav-item
					//- 	a.nav-link(href='invoice.html')
					//- 		i.icon.icon-umbrella
					//- 		|  Invoice
					//- li.nav-item
					//- 	a.nav-link(href='404.html')
					//- 		i.icon.icon-umbrella
					//- 		|  404
					//- li.nav-item
					//- 	a.nav-link(href='500.html')
					//- 		i.icon.icon-umbrella
					//- 		|  500
					//- li.nav-item
					//- 	a.nav-link(href='settings.html')
					//- 		i.icon.icon-umbrella
					//- 		|  Settings