include includes/header.pug
body
  div#page
        div.site-inner
            header#top-header
                include includes/welcome
                include includes/menu
            div#content
                div#primary
                    include main
                include includes/sidebar

            include includes/footer.pug